<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contactează-ne</h2>
                <h3 class="section-subheading text-muted">Știai că, pe vremea lui Ștefan cel Mare, livrarea unei
                    scrisori putea dura până la o zi pe o lungime de 40 km?<br>Ei bine, în zilele noastre, durează doar
                    câteva secunde să îți primim mesajul tău, pe care îl poți scrie mai jos, sau prin email la <a
                        style="color: inherit" href="mailto: contact@royalengineers.ro">contact@royalengineers.ro</a>!
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" action="https://formspree.io/f/xvonrwej" method="POST"
                    novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nume *" id="name"
                                    required data-validation-required-message="Vă rugăm să scrieți numele." WW>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" name="_replyto" placeholder="Email *"
                                    id="email" required
                                    data-validation-required-message="Vă rugăm să scrieți un email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" name="phone"
                                    placeholder="Număr de telefon (opțional)" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" name="message" placeholder="Mesajul tău *" id="message"
                                    required
                                    data-validation-required-message="Vă rugăm să introduceți un mesaj."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" value="Send" class="btn btn-xl">Trimite</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <br><br>
        </div>
    </div>
</section>