<!-- Clients Aside -->
<aside class="clients" class="bg-light-gray">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="padding-top: 100px" id="sustinatori" class="section-heading">Susținători</h2>
        </div>
    </div>

    <section style="padding-top: 10px; padding-bottom: 0;"> <!-- sustinatori -->
        <div class="container">
            <div class="sliding_ct">
                <div class="sliding_sp">
                    <article class="wrapper">
                        <div class="marquee">
                            <div class="marquee_group">
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/EGGER.png" alt="EGGER" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/EGGER.png" class="img_defer_sustinatori"
                                    alt="EGGER" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/dedeman.png" alt="Dedeman" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/dedeman.png"
                                    class="img_defer_sustinatori" alt="Dedeman" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Rockna.png" alt="Rockna" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Rockna.png"
                                    class="img_defer_sustinatori" alt="Rockna" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Zapping.png" alt="Zapping" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Zapping.png"
                                    class="img_defer_sustinatori" alt="Zapping" />
                            </div>
                            <div aria-hidden="ture" class="marquee_group">
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/EGGER.png" alt="EGGER" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/EGGER.png" class="img_defer_sustinatori"
                                    alt="EGGER" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/dedeman.png" alt="Dedeman" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/dedeman.png"
                                    class="img_defer_sustinatori" alt="Dedeman" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Rockna.png" alt="Rockna" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Rockna.png"
                                    class="img_defer_sustinatori" alt="Rockna" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Zapping.png" alt="Zapping" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Zapping.png"
                                    class="img_defer_sustinatori" alt="Zapping" />
                            </div>
                        </div>


                        <div class="marquee marquee-reverse">
                            <div class="marquee_group">
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Arhivarul.png" alt="Arhivarul" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Arhivarul.png"
                                    class="img_defer_sustinatori" alt="Arhivarul" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Avastar.png" alt="Avastar" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Avastar.png"
                                    class="img_defer_sustinatori" alt="Avastar" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Dezstore.png" alt="Dezstore" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Dezstore.png"
                                    class="img_defer_sustinatori" alt="Dezstore" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Ferma_Sorin.png" alt="Ferma Sorin" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Ferma_Sorin.png"
                                    class="img_defer_sustinatori" alt="Ferma Sorin" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Mobexpres.png" alt="Mobexpres" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Mobexpres.png"
                                    class="img_defer_sustinatori" alt="Mobexpres" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/pipelife.png" alt="pipelife" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/pipelife.png"
                                    class="img_defer_sustinatori" alt="pipelife" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/tehnoactiv.png" alt="Tehnoactiv" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/tehnoactiv.png"
                                    class="img_defer_sustinatori" alt="Tehnoactiv" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Top_Scav.png" alt="Top Scav" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Top_Scav.png"
                                    class="img_defer_sustinatori" alt="Top Scav" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Ursa_Mare.png" alt="Ursa Mare" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Ursa_Mare.png"
                                    class="img_defer_sustinatori" alt="Ursa Mare" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/SMS.png" alt="SMS" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/SMS.png" class="img_defer_sustinatori"
                                    alt="SMS" />
                            </div>
                            <div aria-hidden="ture" class="marquee_group">
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Arhivarul.png" alt="Arhivarul" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Arhivarul.png"
                                    class="img_defer_sustinatori" alt="Arhivarul" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Avastar.png" alt="Avastar" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Avastar.png"
                                    class="img_defer_sustinatori" alt="Avastar" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Dezstore.png" alt="Dezstore" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Dezstore.png"
                                    class="img_defer_sustinatori" alt="Dezstore" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Ferma_Sorin.png" alt="Ferma Sorin" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Ferma_Sorin.png"
                                    class="img_defer_sustinatori" alt="Ferma Sorin" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Mobexpres.png" alt="Mobexpres" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Mobexpres.png"
                                    class="img_defer_sustinatori" alt="Mobexpres" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/pipelife.png" alt="pipelife" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/pipelife.png"
                                    class="img_defer_sustinatori" alt="pipelife" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/tehnoactiv.png" alt="Tehnoactiv" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/tehnoactiv.png"
                                    class="img_defer_sustinatori" alt="Tehnoactiv" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Top_Scav.png" alt="Top Scav" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Top_Scav.png"
                                    class="img_defer_sustinatori" alt="Top Scav" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/Ursa_Mare.png" alt="Ursa Mare" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/Ursa_Mare.png"
                                    class="img_defer_sustinatori" alt="Ursa Mare" />
                                <noscript>
                                    <img loading="lazy" fetchpriority="low"
                                        src="../css/2023_style/img/sustinatori/SMS.png" alt="SMS" />
                                </noscript>
                                <img loading="eager" fetchpriority="low"
                                    data-src="../css/2023_style/img/sustinatori/SMS.png" class="img_defer_sustinatori"
                                    alt="SMS" />
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <a href="https://natieprineducatie.ro/" class="portfolio-link" data-toggle="modal">
                            <noscript>
                                <img loading="lazy" fetchpriority="low"
                                    src="../css/2023_style/img/sustinatori/BRD_FTC_natie.png"
                                    class="img-responsive img-centered" alt="Nație Prin Educație">
                            </noscript>
                            <img loading="eager" fetchpriority="low"
                                data-src="../css/2023_style/img/sustinatori/BRD_FTC_natie.png"
                                class="img-responsive img-centered img_defer_sustinatori" alt="Nație Prin Educație">
                        </a>
                    </div>
                    <div class="col-12">
                        <a href="https://cnstefancelmare.ro/" class="portfolio-link" data-toggle="modal">
                            <noscript>
                                <img loading="lazy" fetchpriority="low"
                                    src="../css/2023_style/img/sustinatori/cnscm.png"
                                    class="img-responsive img-centered" alt="Nație Prin Educație">
                            </noscript>
                            <img loading="eager" fetchpriority="low"
                                data-src="../css/2023_style/img/sustinatori/cnscm.png"
                                class="img-responsive img-centered img_defer_sustinatori" alt="CNSCM">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="donatii">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Donații</h2>
                    <h3 class="section-subheading text-muted"></h3>
                    <div class="wrap_iban">
                        <span class="iban text-center img-centered justify-content-center">
                            <span id="iban_f" class="iban_titlu">
                                IBAN: RO98BTRLRONCRT00P3308406
                            </span>
                        </span>
                    </div>
                    <h3 class="section-subheading text-muted"></h3>
                    <div style="width: 59%; margin: 0 auto; text-align: justify-all;">
                        <span class="text-center img-centered" style="font-size: 18px">
                            Acum puteți contribui la susținerea proiectelor noastre fără să scoateți bani din
                            propriul buzunar! Cum? Prin completarea simplă și rapidă a <b>formularului 230</b> prin
                            care puteți redirecționați 3.5% din impozitul pe venit către asociația noastră.
                            <br>
                            Pentru a face totul și mai ușor pentru voi, vă recomandăm să utilizați platforma
                            online dedicată, <br>
                            <a href="https://redirectioneaza.ro/royal-engineers"
                                style="text-decoration: underline;">redirectioneaza.ro/royal-engineers</a>.
                            <br>
                            Fiecare procent redirecționat contribuie la susținerea proiectelor și inițiativelor
                            noastre!
                        </span>
                    </div>
                    <!-- <h3 class=" section-subheading text-muted"></h3>
                    <!-- height 244px aici pentru a nu strica topbar #contact comment aici
                    <div id="you-want-lazyload" style="height: 244px;">
                        <!--
                                <script async src="https://js.stripe.com/v3/buy-button.js"> </script>
                        <stripe-buy-button buy-button-id="buy_btn_1Nb8adCUUGz6KP1wpO5MMI9l"
                            publishable-key="pk_live_51Nb6LFCUUGz6KP1wkInvPHZ4r83vBc95Ya3VubX8TZYJiYNS7EU4mfYkZWqqooiciBepAEYG1vKw1hQ5fcPSAQ1j008K7jLDYI">
                        </stripe-buy-button>
                        comment aici
                    </div> -->
                </div>
                <div class="row">
                    <br>
                </div>
            </div>
    </section>
    <a><br></a>
</aside>